.titlePage{
    display: flex;   
    justify-content: center;
}

.titleImage{
    width: 800px;
    height: 878px;
    position: relative;
}
.titleText{
    width: 600px;
    position: absolute;
    margin-top: 440px;
}
